<div class="container">
<form class="form-inline" ng-submit="submit()" ng-controller="AddCustomerCtrl">
    <div class="form-group">
        <label for="cname">Customer Name:</label>
        <input type="text" id="cname" ng-model="cName" required/>
    </div>
    <div class="form-group">
        <label for="ccity">Customer City:</label>
        <input type="text" id="ccity" ng-model="cCity" required/>
    </div>

    <div class="form-group">
        <button class="btn btn-default" type="submit">Add Customer</button>
    </div>
</form>

<button class="btn btn-default" ng-click="mainBack()">Back to main</button>
</div>


<!-- <div class="container">
<form class="form-inline" ng-submit="addCust.submit()" ng-controller="AddCustomerCtrl as addCust">
        <div class="form-group">
            <input type="text" ng-model="addCust.cName" required/>
        </div>
        
        <div class="form-group">
            <input type="text" ng-model="addCust.cCity" required/>
        </div>
        
        <div class="form-group">
            <button id="f1" class="btn btn-default" type="submit">Add Customer</button>
        </div>
</form>
</div> -->
